<!-- BASE HTML -->

<p>
    <a href="{% url 'realestate_app:index' %}">Realestate App</a>  - 
    <a href="{% url 'realestate_app:contracts' %}">Contracts</a>  - 
    <a href="{% url 'realestate_app:closings' %}">Closings</a>  - 
    <a href="{% url 'realestate_app:actions' %}">Contract Actions</a>  - 
    <a href="{% url 'realestate_app:persons' %}">Persons</a>  - 
    <a href="{% url 'realestate_app:new_contract' %}">Add a New Contract</a>  - 
   
    <a href="{% url 'realestate_app:about' %}">About</a>  -

</p>

{% block content %}  
<p>Today is {{today}}</p>
{% endblock content %}