{% extends "realestate_app/base.html" %}

<!--   Contracts.html  -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Contracts</title>{% endblock %}

</head>
<body>
  
  {% block content %}
  <p>source: contracts.html</p>
  <p></p>
  <h1> Future Contracts Page</h1>

<p>Contracts: </p>
<ul>
  {% for contract in contracts %}
    <li>
      <a href="{% url 'realestate_app:contract' contract.id %}"> {{ contract }} </a>
    </li>
    {% empty %}
    <li> No contracts have been added yet.</li>
    {% endfor %}
</ul>


  <a href="{% url 'realestate_app:new_contract' %}"> Add a new contract</a>
  <p>Back to <a href="/">Home</a></p>
  {% endblock content %}
</body>

</html>