<!-- actions.HTML -->

{% extends "realestate_app/base.html" %}

{% block content %}

<p>Contract:   {{  contract  }} </p>

<P>Actions: </P>
<p>
    <a href="{% url 'realestate_app:new_action' contract.id %}"> Add a new action</a>
</p>

<ul>
    {% for action in actions  %}
    <li>
        <p> Action place holder</p>  
        <p>{{action.actionPerson}}</p>  
        <p>{{ action.Company }}</p>
        <p></p>
        <p>
            <a href="{% url 'realestate_app:edit_action' action.id %}">Edit action</a>
        </p>
    </li>    
    {% empty %}
        <li> No actions have been added yet.</li>
    {% endfor %}
   
</ul>


<p>Back to <a href="/">Home</a></p>
<p>Remember:  The Real Deal helps you track and complete the actions to quickly close real estate deals. </p> 

{% endblock content %}