<!-- actions.HTML -->

{% extends "realestate_app/base.html" %}

{% block content %}

<p>Contract:   {{  contract  }} </p>


<P>Here is a list of all actions for this contract: </P>
<p><a href="{% url 'realestate_app:new_action' contract.id %}"> Add a new contract action</a></p>
<ul>
    {% for action in actions  %}
        <li>{{ action }}</li>
    {% empty %}
        <li> No topics have been added yet.</li>
    {% endfor %}

</ul>


<p>Back to <a href="/">Home</a></p>
<p>Remember:  The Real Deal helps you track and complete the actions to quickly close real estate deals. </p> 

{% endblock content %}