<!-- new_contractaction.html -->
{% extends "realestate_app/base.html"   %}

<head>
    {% block title %}<title>New Action Form</title>{% endblock %}
</head>
<body>
    
  {% block content %}
  <h2>New Action Form</h2>
  <p>Add new action:</p>

  <p><a href="{% url 'realestate_app:contract' contract.id %}">{{contract}} </a></p> 

  <p>Add a new contract action:</p>
  <form action="{% url 'realestate_app:new_action' contract.id %}" method='post' >
    <!-- Prevents cross-site request forgery -->
    {% csrf_token %}
    {{ form.as_p }}
    <button name="Submit">Add Action</button>
  </form>

  <p>Back to <a href="/">Home</a></p>
  {% endblock content %}


    <!--    -->


</body>

</html>

